*{
    text-align: center;
    font-size: medium;
}
fieldset{
    background-color: bisque;
}
legend:hover{
    color: red;
}
input:focus{
    background-color: aqua;
}
h1{
    font-size: x-large;
}
a:link{
    background-color: red;
    color: black;
}
a:active{
    background-color: palevioletred;
    color: blue;
}
a:visited{
    background-color: yellow;
    color: violet;
}
